@import "./tailwind";
// VARIABLES
@import "./base/variables";
// COMPONENTS
@import "./component/showcase";
@import "./component/bankaccount";
@import "./component/card";
@import "./component/appFeatures";
@import "./component/register";
// MEDIA QUERY
@import "./media_query/showcase-m";

// GLOBAL STYLES
body {
  font-family: $POPPINS-FONT-PRIMARY;
  background-color: #0c0909;
}
.color {
  color: $PRIMARY-COLOR;
}

.active {
  background-color: rgb(104, 127, 151);
}
.active-hover {
  position: relative;
  transition: all 600ms ease-in-out;

  &:hover::after {
    content: "";
    position: absolute;
    background-color: $PRIMARY-COLOR;
    width: 40%;
    height: 5px;
    z-index: 4;
    bottom: 0;
    right: 10px;
    transition: all 800ms ease-in-out;
    animation: link 900ms ease-in-out;

    @keyframes link {
      0% {
        width: 0%;
      }
      100% {
        width: 40%;
      }
    }
  }
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Set the background color of the scrollbar track */
::-webkit-scrollbar-track {
  background: $PRIMARY-COLOR;
}

/* Set the color and rounded corners of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: $SECONDARY-COLOR;
}

/* Set the color and rounded corners of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
